<div class="tag"><slot /></div>

<style>
  .tag{
    display: flex;
    padding: 0.5em 1em;
    gap: 0.5rem;
    color: var(--clr-neutral-dark);
    background-color: var(--clr-secondary-lighter);
    font-size: 0.825rem;
    font-weight: 600;
    line-height: 1.35;
    white-space: nowrap;
    box-shadow: 4px 4px 0 0 rgb(0 0 0 / 0.2)
  }
</style>
