---
const today = new Date();
---

<footer>
  <a href="mailto:daisuke@daisuke.dev">
    <h3>Get in Touch</h3>
  </a>

  <div class="contact-links">
    <a href="https://www.github.com/daisukev" target="_blank">Github</a>
    <a href="https://www.gitlab.com/least" target="_blank">Gitlab</a>
    <a href="https://www.linkedin.com/in/joshuadvasquez/" target="_blank"
      >LinkedIn</a
    >
  </div>
   &copy; {today.getFullYear()} Josh Daisuke Vasquez. All rights reserved.
</footer>
<style>
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--clr-secondary-darker);
  }
  footer {
    margin: 0 auto;
    max-width: 1450px;
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .contact-links {
    margin-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
</style>
